<h1>Subs</h1>


<table>
  <thead>
    <th> Title </th>
    <th> Moderator </th>
    <th> Description </th>
  </thead>

  <tbody>
    <% @subs.each do |subforum| %>
      <tr>
        <td> <a href="<%= sub_url(subforum) %>"> <%= subforum.title %> </a></td>
        <td align=center> <%= subforum.moderator_name %> </td>
        <td> <%= subforum.description %> </td>
      </tr>
    <% end %>
  </tbody>


</table>

<a href="<%= new_sub_url %>">Create a Sub</a>
