<!DOCTYPE html>
<html>
<head>
  <title>Kredit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<a href="<%= subs_url %>"><h1>Kredit</h1></a>
<%= render 'shared/login_status' %>
<%= yield %>

</body>
</html>
